.fira-sans-first_font {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  font-style: normal;
}
.fira-sans-sec_font{
   font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 32px;
  font-style: normal;
}
.fira-sans-third_font{
   font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
}
.fira-sans-fourth_font{
   font-family: "Fira Sans", sans-serif;
  font-weight:normal;
  font-size: 16px;
  font-style: normal;
}
.fira-sans-fifth_font{
   font-family: "Fira Sans", sans-serif;
  font-weight:bold;
  font-size: 18px;
  font-style: normal;
}
.ban-2 {
margin-top: 31px;
display: flex;
justify-content: space-around;
margin-left: 160px;
margin-right: 160px;

}
.sign_in{
    width:116px ;
    height: 52px;
    padding: 15px auto;
    background-color: white;
    border:2px solid rgba(0, 106, 80, 1) ;
    border-radius: 8px;
    text-align: center;
    color: rgba(0, 106, 80, 1) ;
    margin-top: 24px;
   

}
.banner{
    width: 1280px;
    height: 560px;
    margin:20px auto ;
    display: flex;
    gap: 54px;
    background-color:rgba(198, 228, 214, 1) ;
    padding-top: 117px;
    padding-left: 59px;
    border: none;
    border-radius: 24px;
}
.bd_2{
    color:rgba(14, 14, 14, 0.5) ;
    font-size: 24px;
    font-weight: normal;
}
.id{
    font-size: 56px;
    font-weight: bold;
}
.exp{
    width: 270px;
    height: 56px;
    background-color:rgba(0, 106, 80, 1) ;
    color: #FFFFFF;
    padding: 17px auto;
    border-radius: 8px;
    border: none;
}
.baner_text{
    display: flex;
    flex-direction: column;
    gap: 24px;
  
}
.second{
    width: 1280px;
    height: 324px;
    margin: 80px auto;
}
.yaping{
    display: flex;
    gap: 34px;
}
.card{
    width: 302px;
    height: 244px;
    padding: 24px;
    background-color: aliceblue;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}
.lit{
    height: 64px;
    width: 64px;
}
.lern{
    width: 122px;
    height: 41px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    
}
.third{
    width: 1280px;
    height: 765px;
    margin: 80px auto;
    
}
.vis{
    margin-bottom: 24px;
    
}
.vision{
    margin-top: 80px;
}
.intem{
    width: 410px;
    height: 325px;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap:auto;
}
.tem{
margin-top:32px;
display: flex;
gap: 24px;
margin-bottom: 32px;
}
.digi{
    background-color: rgba(84, 144, 245, 0.2);
    border: 0px solid #5490F5;
}
.gen{
    background-color: rgba(198, 228, 214, 1);
    border: 0px solid #09A15C;
}
.mor{
    background-color: rgba(247, 235, 207, 1);
    border: 0px solid #FFC239;
}
.bl_but{
    background-color: rgba(84, 144, 245, 1);
    
     border: none;

}
.gr_but{
    background-color: rgba(9, 161, 92, 1);
     border: none;

}
.yl_but{
    background-color: rgba(255, 194, 57, 1);
    border: none;
}
.yunus{
    background-color: #FFFFFF;
    height:auto;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 48px 24px;
    border-radius: 16px;
}
.dr {
    margin-top: 12px;
    margin-bottom: 4px;
}
